:root {
    --card-height: auto;
    /* --card-width: calc(var(--card-height) / 1.5); */
    --card-width: 350px;
  }
  .blogmain{
  padding-top: 65px;
  }
  .card {
  
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 12px 8px;
    position: relative;
    border-radius: 6px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    /* height: 100%; */
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  img{
    width: auto;
    height: 15rem;
  }
  @media screen and (max-width:1000px ) {
    img{
      height: auto;
    }
  }
  .image{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card{
    margin: 15px;
    display: block;
    color: #ddd;
  }
  .main{
    display: flex;
    flex-direction: column;
    /* font-size: 18px; */
  }
  .head h2{
    color: #00afff;
    font-size: 30px;
    text-transform: capitalize;
  }
  .main h3{
    color: #006aff;
    font-size: 25px;
  }
  /* .main p{
    font-size: 18px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif
  } */
  .para1{
    /* text-decoration: underline; */
    text-transform: capitalize;
    font-family: cursive;
    font-size: 21px;
  }
  .para2{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #16F529;
    text-align: justify;
  padding: 5px 2.5vw;
  }
  img{
    width: var(--card-width);
  }
  .blogmain{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
 
  @media  screen and (min-width:750px) {
  .card{
    display: flex;
    width: 80vw;
    height: auto;
  }
  }
  img{
    max-height: 400px;
  }