
.icon{
  display: flex;
  justify-content: center;
  align-self: center;
}
.icon1{
  display: flex;
  justify-content: space-evenly;
}
.fa {
  text-decoration: none;
  border-radius: 15px;
  padding-top: 0.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-bottom: 1.15em;
  width: 2.8645vw;
  height: 1.30VW;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  font-size: inherit;
  font-size: 27px;
  border-width: 0.4rem;
  justify-content: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  border-style: outset;
  border-color: #3B5998;
  color: #3B5998;
}

.fa-twitter {
  border-color: #55ACEE;
  border-style: outset;
  color: #55ACEE;
}

.fa-linkedin {
  border-color: #007bb5;
  color: #007bb5;
  border-style: outset;
}


/* .ref2 svg {
  margin-left: auto;
} */

.fa-youtube {
  border-color: #bb0000;
  color: #bb0000;
  border-style: outset;
}

.fa-instagram {
  background-image: linear-gradient(to bottom right, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-color: #fb39dd;
  border-style: outset;
}

.fa-envelope {
  background-image: linear-gradient(to bottom right, rgb(219, 37, 37), rgb(227, 168, 237));
  background-clip: text;
  color: transparent;
  border-color: rgb(219, 37, 37);
  -webkit-background-clip: text;
  border-style: outset;
}

.fa-github {
  border-color: rgb(140, 88, 196);
  border-style: outset;
}
.fa-telegram {
  background-image: linear-gradient(to top right, #0596ff, #0de392);
  border-color: #8fd8e4;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-style: outset;
}