:root{
  font-size:1vw;
  color: white;
}

*{
  margin: 0;
  padding: 0;
}
.App {

  text-align: center;

}
body{
  background-color: rgb(20, 21, 38);
  color: rgb(39, 198, 221);
  text-decoration: none;
  padding: 0 1vw;
}
.main{
  margin: 0px 10px;
}
.self_img{
  height: auto;
  margin-top: 1.5em;
}
.nav_img_logo{
  height: 50px;
  width: 102px;

}

.nav_main{
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  border: 2px solid gray;
  margin-right: 5em;
  margin-left: 5em;
  border-radius: 5px;
  border-color: transparent;
  border-bottom-color: aqua;
  padding-top: 5px;
}
.nav_main ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-inline-start: 0;
  width: 40vw;
  align-items: center;
}

.nav_main ul li{
  margin: 0px 10px;
  text-decoration: none;
  font-size: 1.5em;
}
.nav_img_logo {
  width: 6em;
  height: 4em;
}

.nav_main ul li a{
  color: aqua;
}
.introtext{
  display: block;
  /* justify-content: ;s */
  font-size: 5em;
}
.text2{
  display: inline;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top right, #6767ff, #e76060);
}
.text1{
  display: inline;
}
.about{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 4empx;
}
.self_intro {
  padding-top: 1em;
  width: 52vw;
}
img.self_img {
  filter: drop-shadow(0 0 0.2rem rgb(39, 198, 221));
  width: 20em;
}
.intro_bio{
  font-size: 1.5em;
  color: white;
  padding: 0.5em 0;
}
.nav_main > ul:nth-child(2) > li:nth-child(1) > a:nth-child(1) {
  text-decoration: navajowhite;
}
.nav_main > ul:nth-child(2) > li:nth-child(2) > a:nth-child(1) {
  text-decoration: none;
}
.nav_main > ul:nth-child(2) > li:nth-child(3) > a:nth-child(1) {
  text-decoration: none;
}
.nav_main > ul:nth-child(2) > li:nth-child(4) > a:nth-child(1) {
  text-decoration: none;
}
/* styles.css */
.progress-bar {
  display: flex;
  align-items: center;
  height: 5em;
  width: 505px;
  margin: 10px 0;
}
.language-icon img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.progress-indicator {
  height: 22px;
  font-size: 1.5em;
  border-radius: 20px;
  background-image: linear-gradient(to right, red , yellow);
}

.progress-label {
  line-height: 30px;
  color: #333;
}
.progressdiv{
  padding: 2em 5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  justify-items: center;
}
.lang_pro_bar{
  text-align: center;
  font-size: 3em;
  color: transparent;
background: linear-gradient(150deg, #FFF8F7 0%, #00588c 50%, #53F7FF 75%);
background-clip: text;
}
.language-icon svg{
  width: 5em;
height: 5em;
}
.full_progress{
  width: 505px;
  display: flex;
  border-radius: 20px;
  background-color: #272b2b;
  margin: 0 5px;
}
.language-label{
  text-align: center;
  padding-top: 2px;
}

.icon{
  display: flex;
  justify-content: center;
  align-self: center;
}
.icon1{
  display: flex;
  justify-content: space-evenly;
}
.fa {
  text-decoration: none;
  border-radius: 20px;
  padding-top: 0.3em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-bottom: 0.9em;
  width: 2.8645vw;
  height: 1.30VW;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  font-size: inherit;
  font-size: 27px;
  border-width: 0.5vw;
  justify-content: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  border-style: outset;
  border-color: #3B5998;
  color: #3B5998;
}

.fa-twitter {
  border-color: #55ACEE;
  border-style: outset;
  color: #55ACEE;
}

.fa-linkedin {
  border-color: #007bb5;
  color: #007bb5;
  border-style: outset;
}


/* .ref2 svg {
  margin-left: auto;
} */

.fa-youtube {
  border-color: #bb0000;
  color: #bb0000;
  border-style: outset;
}

.fa-instagram {
  background-image: linear-gradient(to bottom right, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-color: #fb39dd;
  border-style: outset;
}

.fa-envelope {
  background-image: linear-gradient(to bottom right, rgb(219, 37, 37), rgb(227, 168, 237));
  background-clip: text;
  color: transparent;
  border-color: rgb(219, 37, 37);
  -webkit-background-clip: text;
  border-style: outset;
}

.fa-github {
  border-color: rgb(140, 88, 196);
  border-style: outset;
}
.fa-telegram {
  background-image: linear-gradient(to top right, #0596ff, #0de392);
  border-color: #8fd8e4;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-style: outset;
}

.image-swap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20em;
  width: 20em;
  /* overflow: hidden; */
  position: relative;
  margin-top: 10px;
}

.image {
  width: auto;
  height: 18em;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  z-index: 0;
  filter: drop-shadow(3px 3px 7px rgb(39, 198, 221));
}

.image.active {
  opacity: 1;
  z-index: 1;
}



.biomain{
  display: flex;
  justify-content: center;
  margin-left: 9em;
  margin-bottom: 4em;
  margin-top: 4em;
  padding-right: 9em;
  font-size: calc(7px + 0.5em);
}
@media screen and (max-width: 700px) {
  .biomain{
    flex-wrap: wrap-reverse;
  }
  .biomain{
    padding: 2em 0px;
    margin-left: 0px;
  }
}

.bio_text{
  text-align: justify;
  width: 80vw;
  padding-left: 10px;
  padding-right: 1.2em;
  font-size: 1.2em;
  margin-top: 1em;
}


.cont_ainer {
  display: flex;
  justify-content: center;
  
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #4362de;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .biomain{
    flex-wrap: wrap-reverse;
  }
  .biomain{
    padding: 2em 0px;
  }
  .fe{
    margin-top: 10px;
  }
  .progressdiv{
    display: inline;
  }
  .full_progress{
    width: 200px;
  }
  .intro_bio{
    font-size: calc(8px + 0.3em);
  }
  .cont_ainer{
    display: none;
  }
  .lang_pro_bar{
    font-size: 22px;
  }
}