:root{
  font-size: 1vw;
  color: white;
}
*{
  margin: 0;
  padding: 0;
}
.App {

  text-align: center;

}
body{
  background-color: rgb(20, 21, 38);
  color: rgb(39, 198, 221);
  text-decoration: none;
  padding: 0 1vw;
}
.main{
  margin: 0px 10px;
}
.self_img{
  height: auto;
}
.nav_img_logo{
  height: 50px;
}

.nav_main{
  display: flex;
  justify-content: space-between;
}
.nav_main ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-inline-start: 0;
  width: 40vw;
  align-items: center;
}

.nav_main ul li{
  margin: 0px 10px;
  text-decoration: none;
  font-size: 1.5em;
}
.nav_main ul li a{
  color: aqua;
}
.introtext{
  display: block;
  /* justify-content: ;s */
  font-size: 5em;
}
.text2{
  display: inline;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top right, #6767ff, #e76060);
}
.text1{
  display: inline;
}
.about{
  display: flex;
  justify-content: space-between;
}
.self_intro {
  padding-top: 28px;
  width: 52vw;
}
img.self_img {
  filter: drop-shadow(0 0 0.2rem rgb(39, 198, 221));
  width: 28em;
}
.nav_main > ul:nth-child(2) > li:nth-child(1) > a:nth-child(1) {
  text-decoration: navajowhite;
}
.nav_main > ul:nth-child(2) > li:nth-child(2) > a:nth-child(1) {
  text-decoration: none;
}
.nav_main > ul:nth-child(2) > li:nth-child(3) > a:nth-child(1) {
  text-decoration: none;
}
.nav_main > ul:nth-child(2) > li:nth-child(4) > a:nth-child(1) {
  text-decoration: none;
}
/* styles.css */
.progress-bar {
  display: flex;
  align-items: center;
  height: 5em;
  width: 505px;
  margin: 10px 0;
}
.language-icon img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


.progress-indicator {
  height: 22px;
  font-size: 1.5em;
  background-image: linear-gradient(to right, red , yellow);
}

.progress-label {
  line-height: 30px;
  color: #333;
}
.progressdiv{
  padding: 2em 5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  justify-items: center;
}
.lang_pro_bar{
  text-align: center;
  font-size: 3em;
}
.language-icon svg{
  width: 5em;
height: 5em;
}
.full_progress{
  width: 505px;
  display: flex;
  background-color: #272b2b;
}